@utility tk-table-sticky-column {
  @apply
    [:where(&)]:bg-white/95 dark:[:where(&)]:bg-zinc-800/95
    z-10
    first:sticky first:left-0 last:sticky last:right-0
    first:after:w-8 first:after:absolute first:after:inset-y-0 first:after:right-0 first:after:translate-x-full first:after:pointer-events-none
    first:after:inset-shadow-[8px_0px_8px_-8px_rgba(0,0,0,0.05)] dark:first:after:inset-shadow-[8px_0px_8px_-8px_rgba(0,0,0,0.4)]
    last:after:w-8 last:after:absolute last:after:inset-y-0 last:after:left-0 last:after:-translate-x-full last:after:pointer-events-none
    last:after:inset-shadow-[-8px_0px_8px_-8px_rgba(0,0,0,0.05)] dark:last:after:inset-shadow-[-8px_0px_8px_-8px_rgba(0,0,0,0.4)];
}
